
.W60 {
    width:60px;
}

.W80 {
    width:80px;
}

.BW60 {
    background-color: #36A9E1;
    font-weight:600;
    width:60px;
    text-align: center;
}

.BW80 {
    background-color: #36A9E1;
    font-weight:600;
    width:80px;
    text-align: center;
}

.TEdit {
    width:80px;
    border:none;
    text-align: center;
}

.noppading {
    padding: 1px;
}


table td {
    padding: 2;
}
