<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="text-center">
              <img
                alt="Logo"
                class="card-image-top"
                src="/assets/img/logo_sm.jpg"
                style="width: 200px"
              />
            </div>

            <div class="card-block">
              <h3>Login</h3>
              <p class="text-muted">
                Acceda a su cuenta indicando las credenciales
              </p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="e-mail del Usuario"
                  [(ngModel)]="model.username"
                  #username="ngModel"
                  required
                />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="model.password"
                  #password="ngModel"
                  required
                />
              </div>
              <div class="row">
                <div class="col-3 text-left"></div>

                <div class="col-3 text-left"></div>
                <div class="col-6 text-right">
                  <button
                    type="button"
                    class="btn btn-secondary px-4"
                    (click)="Login()"
                  >
                    Acceder
                  </button>
                </div>
              </div>
            </div>

            <div class="alert alert-danger" *ngIf="success == 0">
              No Tiene Autorización para acceder
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
