<header [ngClass]="setHeader()">

  <a class="navbar-brand" href="#"></a>
  <button *ngIf="showSidebarToggle" type="button" class="sm-sidebar-toggler" (click)="toggleSidebar()"
    [title]="sidebarHidden() ? 'Mostrar menú' : 'Ocultar menú'">
    <i class="fa fa-bars"></i>
    <span class="d-md-down-none">{{ sidebarHidden() ? 'Mostrar menú' : 'Ocultar menú' }}</span>
  </button>
  <div class="sm-page-title" *ngIf="pageTitle">
    <span class="sm-page-section d-md-down-none" *ngIf="pageTitle.section">{{ pageTitle.section }}</span>
    <i class="fa fa-angle-right sm-page-sep d-md-down-none" *ngIf="pageTitle.section"></i>
    <span class="sm-page-label">{{ pageTitle.label }}</span>
  </div>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle style="margin-right: 10px;">
        <span class="d-md-down-none">{{username}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>&nbsp;Perfil</a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout();"><i class="fa fa-lock"></i>&nbsp;Logout</a>
      </div>
    </li>

  </ul>

</header>