<div class="container-fluid">
  <div class="card card-block">
    <div class="row">
      <div class="col col-3 list-group">
        <a
          [routerLink]="['/routes/master/detail/211']"
          class="list-group-item list-group-item-action"
        >
          <h5 class="list-group-item-heading">Gestión de Clientes API</h5>
          <br />
          <p class="list-group-item-text">Clientes acceso al API</p>
        </a>
      </div>
      <div class="col col-3 list-group">
        <a
          [routerLink]="['/routes/master/detail/302']"
          class="list-group-item list-group-item-action"
        >
          <h5 class="list-group-item-heading">Tiendas de Clientes API</h5>
          <br />
          <p class="list-group-item-text">
            Configuración de las Tiendas de los Clientes API
          </p>
        </a>
      </div>
      <div class="col col-3 list-group">
        <a
          [routerLink]="['/routes/master/detail/230']"
          class="list-group-item list-group-item-action"
        >
          <h5 class="list-group-item-heading">Clientes Importados</h5>
          <br />
          <p class="list-group-item-text">Listado de Clientes Importados</p>
        </a>
      </div>
    </div>
  </div>
</div>
