<div class="container">
  <div class="card">
    <div class="card-header">
      <h6>
        Configuración de Incrementos
        <div class="pull-right">

        </div>
      </h6>
    </div>

    <div class="card-body card-block">




      <div class="row">
        <div class="col col-3">
          <div class="row">
            <div class="col col-12">
              <label>Cliente</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.cliente">
                <option *ngFor="let pow of lista_clientes" [value]="pow.idrow">
                  {{ pow.descripcion }}
                </option>
              </select>
            </div>
            <div class="col col-12">
              <label>Tipo</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.tipo" (change)="ChangeTipo($event)">
                <option *ngFor="let pow of lista_productos" [value]="pow.idrow">
                  {{ pow.descripcion }}
                </option>
              </select>
            </div>
            <div class="col col-12">
              <label>Producto</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.producto" (change)="ChangeProducto($event)">
                <option *ngFor="let pow of lista_articulos" [value]="pow.idrow">
                  {{ pow.descripcion }}
                </option>
              </select>
            </div>
            <div class="col col-12">
              <label>Color</label>
              <select class="form-control form-control-sm" [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="model.bruto">
                <option *ngFor="let pow of lista_colores" [value]="pow.idrow">
                  {{ pow.descripcion }}
                </option>
              </select>
            </div>
            <div class="col col-12">
              <label></label>
              <button class="btn btn-sm btn-block btn-secondary" (click)="loadTable();">Cargar Tarifa</button>
            </div>
          </div>
        </div>
        <div class="col col-6">
          <table class="table table-striped table-hover table-bordered table-condensed borderless">
            <tr>
              <td style="text-align:center"><b>Altura</b></td>
              <td style="text-align:center"><b>PVP</b></td>
              <td style="text-align:center"><b>C1_XXXXXXX</b></td>
              <td style="text-align:center"><b>Modif</b></td>
              <td></td>
            </tr>
            <tr *ngFor="let item of tarifa">
              <td style="text-align:center">
                {{item.altura}}
              </td>
              <td style="text-align:center">
                <input type="number" class="form-control form-control-sm" style="width:80px;text-align:right"
                  [(ngModel)]="item.pvp">
              </td>
              <td style="text-align:center">
                <input class="form-control form-control-sm" style="width:100px;text-align:center" [(ngModel)]="item.c1">
              </td>
              <td style="text-align:center">
                {{item.fecha | date:'dd/MM/yyyy'}}
              </td>
              <td style="width: 50px">
                <button class="btn btn-default btn-primary-outline btn-block btn-sm" (click)="AssignItem(item)">
                  Actualizar
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>